@charset "utf-8";
@import "compass";

/* フォントサイズ自動rem変換
--------------------------------------------------*/

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}


/* imgタグをブロック要素化
--------------------------------------------------*/

img {
  display: block;
}


/* 色設定
--------------------------------------------------*/

$red: #9d1a2d;
$gray: #b0b0b0;
$bage: #e2ddd4;
$brown: #887f69;
$text: #524c3e;
$base: #f9f8f6;
html {
  background-color: $base;
}


/* サイト全体をセンタリング
--------------------------------------------------*/

body {
  max-width: 960px;
  margin: 0 auto;
}


/* ヘッダー
--------------------------------------------------*/

header {
  padding: 0;
  .navi {
    width: 100%;
  }
  @media (max-width: 550px) {
    .logo {
      max-width: 100%;
      h1 {
        padding: 20px 0 10px 0;
        img {
          margin: 0 auto;
        }
      }
    }
    .navi {
      width: 100%;
      .sp_navi_li {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        img {
          margin: 0 5px;
        }
      }
      .sp_navi_open_li {
        display: none;
        width: 80px;
        height: auto;
        text-align: center;
        border: 1px solid $text;
        background: white;
        list-style: none;
        position: absolute;
        top: 100px;
        right: 20px;
        z-index: 100;
        li {
          border: 1px solid $text;
          margin: 0;
          padding: 0;
        }
        a {
          text-decoration: none;
          color: $text;
        }
      }
    }
    .pc_navi {
      display: none;
    }
  }
  @media (min-width: 550px) {
    h1 {
      padding: 40px 0 0 0;
    }
    .sp_navi {
      display: none;
    }
    .pc_navi {
      @include fontsize(12);
      padding: 50px 0 20px;
      float: right;
      ul {
        margin-bottom: 0;
      }
      li {
        margin-bottom: 0;
        padding: 0;
        display: inline-block;
        vertical-align: bottom;
        list-style: none;
        img {
          display: inline-block;
        }
        a {
          text-decoration: none;
          color: $text;
          margin: 5px;
          font-weight: bold;
          transition: all 0.5s;
        }
        a:hover {
          opacity: 0.7;
        }
      }
    }
  }
}


/* メイン
--------------------------------------------------*/

main {
  clear: both;
  .owl-nav {
    display: none;
  }
  .owl-dots {
    position: relative;
    top: 0;
  }
  .owl-dots .owl-dot {
    display: inline-block;
  }
  .owl-dots .owl-dot span {
    display: block;
    border-radius: 0;
    width: 25px;
    height: 2px;
    margin: 0 8px 0 0;
    background-color: #aaaaaa;
  }
  .owl-dots .active span {
    background-color: #9d1a2d !important;
  }
  .sp_title_img {
    padding: 15px 0;
    img {
      margin: 0 auto;
      width: 50%;
    }
  }
  .pc_title_img {
    padding: 20px 0;
  }
  .flex_container {
    display: flex;
    flex-wrap: wrap;
  }
  .flex_item {
    width: 42.14%;
    height: auto;
    padding: 10px;
    background-color: white;
    border: 1px solid $base;
    a {
      text-decoration: none;
      color: black;
      img {
        transition: all 0.5s;
      }
    }
    @media (min-width: 550px) {
      a:hover img {
        opacity: 0.5;
      }
    }
    .item_title {
      @include fontsize(10);
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 0.1rem;
    }
    p {
      @include fontsize(11);
      font-weight: bold;
      letter-spacing: 0.1rem;
      display: inline;
      vertical-align: middle;
    }
  }
  @media (min-width: 550px) {
    .flex_container {
      justify-content: flex-start;
    }
    .flex_item {
      width: 29%;
      height: auto;
    }
  }
  .info_flex_container {
    display: flex;
    #info_box {
      padding: 15px;
      margin: auto auto 6px;
      width: 87.5%;
      img {
        margin: 10px 0;
      }
    }
    ul {
      list-style: none;
      color: $brown;
      font-weight: bold;
      @include fontsize(13);
      li {
        span {
          color: black;
          font-weight: normal;
          letter-spacing: 0.1rem;
          display: inline-block;
          margin-top: 5px;
        }
      }
    }
    .info_title {
      color: $brown;
      font-weight: bold;
      letter-spacing: 0.1rem;
      @include fontsize(15);
      margin-bottom: 5px;
    }
  }
  @media (max-width: 550px) {
    .pc_title_img {
      display: none;
    }
    .info_flex_container {
      flex-direction: column;
    }
    #info_box {
      margin-bottom: 10px;
    }
  }
  @media (min-width: 550px) {
    .sp_title_img {
      display: none;
    }
    .info_flex_container {
      #info_box {
        margin: 0 0 60px 0;
      }
    }
  }
}

.sidemenu_box {
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  position: relative;
}

.sidemenu_title {
  max-width: 100%;
  height: 20px;
  background-color: $brown;
  position: relative;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  @include fontsize(12);
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .middle {
    position: absolute;
    top: 15px;
    left: 10px;
    margin: auto;
    img {
      position: absolute;
      top: 15px;
      right: 10px;
    }
  }
}

#bottom {
  margin-bottom: 10px;
  background: url("../images/top/next_icon.png") no-repeat 95% 50% $brown;
}

#bg_img {
  background: url("../images/top/down_icon.png") no-repeat 95% 50% $brown;
}

navi {
  ul {
    list-style: none;
    margin-bottom: 10px;
    li {
      display: flex;
      position: relative;
      height: 25px;
      margin: 0;
      width: 100%;
      height: 40px;
      background-color: white;
      border-bottom: 1px solid $base;
      list-style-position: inside;
      @include fontsize(12);
      font-weight: bold;
      a {
        width: 100%;
        padding: 10px;
        text-decoration: none;
        color: black;
        transition: all 0.5s;
      }
      a:hover {
        background-color: $red;
        color: white;
      }
      img {
        position: absolute;
        top: 12px;
        right: 10px;
      }
    }
  }
}

#itemsearch_box {
  padding: 18px;
  #itemsearch {
    margin-bottom: 10px;
  }
}

form {
  margin-bottom: 0;
  position: relative;
  .search_box {
    width: 100%;
    height: 2.2rem;
    margin-bottom: 0;
    border-radius: 0;
    border: 1px solid white;
    background: url("../images/top/search_icon.png") no-repeat 95% 50% #eeeeee;
  }
  #quantity_box {
    position: absolute;
    top: 10px;
    left: 120px;
    display: inline-block;
    width: 50%;
    height: 40px;
    margin-bottom: 0;
    border-radius: 0;
    border: 1px solid #e8e4da;
  }
}

#flex_box {
  display: flex;
  flex-wrap: wrap;
  a {
    transition: all 0.5s;
  }
  #flex {
    width: 47%;
    height: 47%;
    margin-right: 15px;
  }
  p {
    width: 47%;
    @include fontsize(12);
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
  }
  #flexbtn {
    margin: 10px 0;
  }
}

@media (min-width: 550px) {
  #flex_box {
    #flex {
      width: 100%;
      height: 100%;
    }
    p {
      width: 100%;
      height: 100%;
      a img {
        transition: all 0.5s;
      }
    }
    #flexbtn {
      margin: 10px auto;
    }
    a:hover img {
      opacity: 0.7;
    }
  }
}

#pagetop {
  width: 100%;
  margin-bottom: 0;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  img {
    width: 35%;
    margin: auto;
    padding: 20px;
  }
}

@media (min-width: 550px) {
  #pagetop {
    width: 30%;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    img {
      margin-right: 0;
      padding-right: 10px;
      padding-bottom: 10px;
    }
  }
}

footer {
  .row {
    border-top: 1px solid $bage;
  }
  .footer_navi {
    text-align: center;
    @include fontsize(13);
    padding: 10px;
    margin: 0;
  }
  @media (min-width: 550px) {
    .footer_navi {
      margin: 20px 0;
    }
  }
  .copyright {
    @include fontsize(12);
    text-align: center;
    color: #c5c2bb;
  }
  .margin {
    margin-right: 1rem;
  }
}


/* category.html  ここから
--------------------------------------------------*/

.pk_navi {
  background-color: $bage;
  color: $brown;
  padding: 10px;
  @include fontsize(12);
  font-weight: bold;
  margin-bottom: 10px;
  ul {
    margin: 0;
  }
  .pk_list {
    display: inline;
    img {
      display: inline;
    }
    a {
      text-decoration: none;
      color: $brown;
      transition: all 0.5s;
    }
    .margin {
      margin-right: 1rem;
    }
  }
}

@media (min-width: 550px) {
  .pk_list {
    a:hover {
      color: $red;
    }
  }
  #sp_img {
    display: none;
  }
}

@media (max-width: 550px) {
  #pc_img {
    display: none;
  }
}

.backnext {
  position: relative;
  margin: 20px 0;
  height: 40px;
  div {
    background-color: $brown;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    @include fontsize(14);
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: white;
      text-decoration: none;
      transition: all 0.5s;
    }
  }
  .back_btn {
    bottom: 0;
    left: 0;
  }
  .next_btn {
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 550px) {
  .backnext {
    a:hover {
      background-color: $red;
    }
  }
}

.pro_title {
  @include fontsize(16);
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e8cf;
  p {
    @include fontsize(10);
    letter-spacing: 0;
    color: #a6a6a6;
    margin: 0;
  }
}

.products {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  .slider_pro {
    margin: 10px 0;
    border-bottom: 1px solid #e3e8cf;
    #display_img {
      margin-bottom: 10px;
      img {
        width: 100%;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    li {
      list-style: none;
      display: inline-block;
      width: 18%;
    }
    li img {
      width: 100%;
      margin: 0;
      cursor: pointer;
    }
  }
  .flex_item {
    width: 41%;
  }
}

@media (min-width: 550px) {
  .products {
    .slider_pro {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      #display_img {
        width: 70%;
        margin-right: 5px;
      }
      ul {
        width: 27%;
        li {
          min-width: 47%;
          img {
            transition: 0.5s;
          }
          img:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .flex_item {
      width: 28.8%;
      img {
        width: 100%;
      }
    }
  }
}

.table_title {
  margin: 20px 0;
}

.mytable {
  table {
    width: 100%;
    border: 2px solid #e8e4da;
    tr {
      @include fontsize(14);
      td {
        border: 2px solid #e8e4da;
        text-align: center;
        color: #887f69;
        padding: 10px;
        img {
          margin: auto;
          width: 16px;
        }
      }
      td:first-child,
      td:last-child {
        padding: 10px;
      }
    }
    tr:first-child,
    td:first-child {
      background-color: #f9f9f5;
    }
  }
}

.flex_container_pro {
  .flex_item_pro {
    margin-bottom: 10px;
    border-top: 1px solid #e3e8cf;
    border-bottom: 1px solid #e3e8cf;
    position: relative;
    height: 60px;
    line-height: 60px;
    img {
      position: absolute;
      top: 20px;
    }
    p {
      display: inline;
      position: absolute;
      margin: 0;
      right: 40px;
      font-style: italic;
      @include fontsize(22);
      color: #e80f66;
      span {
        color: black;
        @include fontsize(12);
        margin-left: 0.8rem;
      }
    }
  }
  #item1 {
    margin-bottom: 0;
  }
  #item2 {
    border-top: none;
  }
}

.cartbtn {
  margin: 0 auto 10px;
  padding-bottom: 10px;
}

@media (min-width: 550px) {
  #cartflex {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 20px 0;
    height: 120px;
    #item1 {
      padding: 10px;
      width: 50%;
      height: 30px;
      line-height: 50px;
      p {
        height: 30px;
        top: 0;
      }
    }
    #item2 {
      padding: 10px;
      width: 50%;
      height: 30px;
      form {
        #quantity_box {
          height: 30px;
          top: 0;
        }
      }
      img {
        top: 8px;
      }
    }
    .cartbtn {
      width: 40%;
      height: 40%;
      margin: -60px 0 0 auto;
      padding: 0;
      a img {
        transition: 0.5s;
      }
      a:hover img {
        opacity: 0.7;
      }
    }
  }
}

.textarea {
  p {
    margin: 0;
    padding: 10px 0;
    letter-spacing: 0.1rem;
  }
  .itemname {
    @include fontsize(18);
    border-bottom: 1px solid $brown;
    color: $brown;
    font-weight: bold;
  }
  .itemtitle {
    @include fontsize (18);
    color: $brown;
    font-weight: bold;
  }
  .itemtext {
    @include fontsize(13);
  }
  .mytable {
    color: #887f69;
    td {
      height: 30px;
    }
    td:first-child {
      width: 30%;
    }
    tr:first-child {
      background-color: white;
    }
  }
}
