@charset "utf-8";

/* フォントサイズ自動rem変換
--------------------------------------------------*/

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}


/* imgタグをブロック要素化
--------------------------------------------------*/

img {
  display: block;
}


/* 色設定
--------------------------------------------------*/

$red: #9d1a2d;
$gray: #b0b0b0;
$bage: #e2ddd4;
$brown: #887f69;
$text: #524c3e;
$base: #f9f8f6;
html {
  background-color: $base;
}


/* サイト全体をセンタリング
--------------------------------------------------*/

body {
  max-width: 960px;
  margin: 0 auto;
}


/* ヘッダー
--------------------------------------------------*/

header {
  padding: 0 20px;
  .navi {
    width: 100%;
  }
  @media (max-width: 550px) {
    .logo {
      max-width: 100%;
      h1 {
        padding: 20px 0 10px 0;
        img {
          margin: 0 auto;
        }
      }
    }
    .navi {
      width: 100%;
      .sp_navi_li {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        img {
          margin: 0 5px;
        }
      }
      .sp_navi_open_li {
        display: none;
        width: 80px;
        height: auto;
        text-align: center;
        border: 1px solid $text;
        background: white;
        list-style: none;
        position: absolute;
        top: 100px;
        right: 20px;
        z-index: 100;
        li {
          border: 1px solid $text;
          margin: 0;
          padding: 0;
        }
        a {
          text-decoration: none;
          color: $text;
        }
      }
    }
    .pc_navi {
      display: none;
    }
  }
  @media (min-width: 550px) {
    h1 {
      padding: 40px 0 0 0;
    }
    .sp_navi {
      display: none;
    }
    .pc_navi {
      @include fontsize(12);
      padding: 50px 0 20px;
      float: right;
      ul {
        margin-bottom: 0;
      }
      li {
        margin-bottom: 0;
        padding: 0;
        display: inline-block;
        vertical-align: bottom;
        list-style: none;
        img {
          display: inline-block;
        }
        a {
          text-decoration: none;
          color: $text;
          margin: 5px;
          font-weight: bold;
        }
      }
    }
  }
}

main {
  clear: both;
  .owl-nav {
    display: none;
  }
  .owl-dots {
    position: relative;
    top: 0;
  }
  .owl-dots .owl-dot {
    display: inline-block;
  }
  .owl-dots .owl-dot span {
    display: block;
    border-radius: 0;
    width: 25px;
    height: 2px;
    margin: 0 8px 0 0;
    background-color: #aaaaaa;
  }
  .owl-dots .active span {
    background-color: #9d1a2d !important;
  }
  .sp_title_img {
    padding: 15px 0;
    img {
      margin: 0 auto;
      width: 50%;
    }
  }
  .pc_title_img {
    padding: 20px 0;
  }
  .item_box_container {
    display: flex;
  }
  .item_box {
    padding: 10px;
    background-color: white;
    border: 1px solid $base;
    .item_title {
      @include fontsize(10);
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 0.1rem;
    }
    p {
      @include fontsize(11);
      font-weight: bold;
      letter-spacing: 0.1rem;
      display: inline;
      vertical-align: middle;
    }
  }
}

@media (max-width: 550px) {
  .pc_title_img {
    display: none;
  }
  #pc_items {
    display: none;
  }
}

@media (min-width: 550px) {
  .sp_title_img {
    display: none;
  }
  #sp_items {
    display: none;
  }
}
.info_flex_container {
  display: flex;
  #info_box {
    padding: 15px;
    img {
        margin: 10px 0;
    }
  }
  ul {
    list-style: none;
    color: $brown;
    font-weight: bold;
    @include fontsize(13);
    li {
        span {
            color: black;
            font-weight: normal;
            letter-spacing: 0.1rem;
            display: inline-block;
            margin-top: 5px;
        }
    }
  }
  .info_title {
    color: $brown;
    font-weight: bold;
    letter-spacing: 0.1rem;
    @include fontsize(15);
    margin-bottom: 5px;
  }
}

@media (max-width: 550px) {
  .pc_title_img {
    display: none;
  }
  .info_flex_container {
    flex-direction: column;
  }
  #info_box {
    margin-bottom: 10px;
  }
}

@media (min-width: 550px) {
  .sp_title_img {
    display: none;
  }
  #info_box {
    flex-basis: 30px;
    flex-grow: 1; 
  }
}
