@charset "UTF-8";
/* フォントサイズ自動rem変換
--------------------------------------------------*/
/* imgタグをブロック要素化
--------------------------------------------------*/
img {
  display: block; }

/* 色設定
--------------------------------------------------*/
html {
  background-color: #f9f8f6; }

/* サイト全体をセンタリング
--------------------------------------------------*/
body {
  max-width: 960px;
  margin: 0 auto; }

/* ヘッダー
--------------------------------------------------*/
header {
  padding: 0; }
  header .navi {
    width: 100%; }
  @media (max-width: 550px) {
    header .logo {
      max-width: 100%; }
      header .logo h1 {
        padding: 20px 0 10px 0; }
        header .logo h1 img {
          margin: 0 auto; }
    header .navi {
      width: 100%; }
      header .navi .sp_navi_li {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0; }
        header .navi .sp_navi_li img {
          margin: 0 5px; }
      header .navi .sp_navi_open_li {
        display: none;
        width: 80px;
        height: auto;
        text-align: center;
        border: 1px solid #524c3e;
        background: white;
        list-style: none;
        position: absolute;
        top: 100px;
        right: 20px;
        z-index: 100; }
        header .navi .sp_navi_open_li li {
          border: 1px solid #524c3e;
          margin: 0;
          padding: 0; }
        header .navi .sp_navi_open_li a {
          text-decoration: none;
          color: #524c3e; }
    header .pc_navi {
      display: none; } }
  @media (min-width: 550px) {
    header h1 {
      padding: 40px 0 0 0; }
    header .sp_navi {
      display: none; }
    header .pc_navi {
      font-size: 12px;
      font-size: 1.2rem;
      padding: 50px 0 20px;
      float: right; }
      header .pc_navi ul {
        margin-bottom: 0; }
      header .pc_navi li {
        margin-bottom: 0;
        padding: 0;
        display: inline-block;
        vertical-align: bottom;
        list-style: none; }
        header .pc_navi li img {
          display: inline-block; }
        header .pc_navi li a {
          text-decoration: none;
          color: #524c3e;
          margin: 5px;
          font-weight: bold; } }

/* メイン
--------------------------------------------------*/
main {
  clear: both; }
  main .owl-nav {
    display: none; }
  main .owl-dots {
    position: relative;
    top: 0; }
  main .owl-dots .owl-dot {
    display: inline-block; }
  main .owl-dots .owl-dot span {
    display: block;
    border-radius: 0;
    width: 25px;
    height: 2px;
    margin: 0 8px 0 0;
    background-color: #aaaaaa; }
  main .owl-dots .active span {
    background-color: #9d1a2d !important; }
  main .sp_title_img {
    padding: 15px 0; }
    main .sp_title_img img {
      margin: 0 auto;
      width: 50%; }
  main .pc_title_img {
    padding: 20px 0; }
  main .flex_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  main .flex_item {
    width: 42.14%;
    height: auto;
    padding: 10px;
    background-color: white;
    border: 1px solid #f9f8f6; }
    main .flex_item .item_title {
      font-size: 10px;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 0.1rem; }
    main .flex_item p {
      font-size: 11px;
      font-size: 1.1rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      display: inline;
      vertical-align: middle; }
  @media (min-width: 550px) {
    main .flex_container {
      justify-content: flex-start; }
    main .flex_item {
      width: 29.3%;
      height: auto; } }
  main .info_flex_container {
    display: flex; }
    main .info_flex_container #info_box {
      padding: 15px;
      margin: auto auto 6px;
      width: 87.5%; }
      main .info_flex_container #info_box img {
        margin: 10px 0; }
    main .info_flex_container ul {
      list-style: none;
      color: #887f69;
      font-weight: bold;
      font-size: 13px;
      font-size: 1.3rem; }
      main .info_flex_container ul li span {
        color: black;
        font-weight: normal;
        letter-spacing: 0.1rem;
        display: inline-block;
        margin-top: 5px; }
    main .info_flex_container .info_title {
      color: #887f69;
      font-weight: bold;
      letter-spacing: 0.1rem;
      font-size: 15px;
      font-size: 1.5rem;
      margin-bottom: 5px; }
  @media (max-width: 550px) {
    main .pc_title_img {
      display: none; }
    main .info_flex_container {
      flex-direction: column;
      justify-content: center; }
    main #info_box {
      margin-bottom: 10px; } }
  @media (min-width: 550px) {
    main .sp_title_img {
      display: none; }
    main .info_flex_container #info_box {
      margin: 0; } }

form {
  margin-bottom: 0; }
  form .search_box {
    width: 100%;
    height: 2.2rem;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    background: url("../images/top/search_icon.png") no-repeat 95% 50% #eeeeee; }

.sidemenu_box {
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  position: relative; }

navi ul {
  list-style: none;
  margin-bottom: 10px; }
  navi ul li {
    height: 25px;
    margin: 0;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #f9f8f6;
    list-style-position: inside;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold; }

.sidemenu_title {
  padding: 10px;
  background-color: #887f69;
  height: 25px;
  position: relative; }
  .sidemenu_title .textdecoration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    vertical-align: middle; }

#pagelink {
  margin-bottom: 10px; }

.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto; }

#pagelink {
  color: white;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold; }

#itemsearch {
  margin-bottom: 10px; }

#itemsearch_box {
  padding: 18px; }

#flex_box {
  display: flex;
  flex-wrap: wrap; }
  #flex_box #flex {
    width: 47%;
    height: 47%;
    margin-right: 15px; }
  #flex_box p {
    width: 47%;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 0; }
  #flex_box #flexbtn {
    margin: 10px 0; }

#pagetop a {
  display: block;
  padding: 20px; }
  #pagetop a img {
    width: 35%;
    margin: auto; }

/*# sourceMappingURL=style.css.map */
