@charset "utf-8";

/* フォントサイズ自動rem変換
--------------------------------------------------*/

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}


/* imgタグをブロック要素化
--------------------------------------------------*/

img {
    display: block;
}


/* 色設定
--------------------------------------------------*/

html {
    background-color: #f9f8f6;
}

$red: #9d1a2d;
$gray: #b0b0b0;
$bage: #e2ddd4;
$brown: #887f69;
$text: #524c3e;

/* ヘッダー
--------------------------------------------------*/

header {
    padding: 0 20px;
    #header_in {
        padding-top: 10px;
        padding-bottom: 4px;
    }
    h1 {
        margin: 0;
    }
    .navi {
        width: 100%;
    }
    @media (max-width: 550px) {
        .logo {
            width: 100%;
            h1 {
                img {
                    margin: 0 auto;
                }
            }
        }
        .navi {
            width: 100%;
            .sp_navi {
                vertical-align: top;
            }
            .sp_navi_li {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin: 0 auto;
            }
            .sp_navi_open_li {
                width: 80px;
                height: auto;
                text-align: center;
                border: 1px solid $text;
                background: white;
                list-style: none;
                position: absolute;
                top: 100px;
                right: 20px;
                li {
                    border: 1px solid $text;
                    margin: 0;
                    padding: 0;
                }
                a {
                    text-decoration: none;
                    color: $text;
                }
            }
        }
        .pc_navi {
            display: none;
        }
    }
    @media (min-width: 550px) {
        .sp_navi {
            display: none;
        }
        .pc_navi {
            display: inline-block;
            li {
                margin: 0;
                padding: 0;
                list-style: none;
                a {
                    text-decoration: none;
                    color: $text;
                    font-weight: bold;
                    padding: 10px;
                }
            }
        }
    }
}
